:root {
    --basic-green: #849D8F;
    --basic-orange: linear-gradient(to bottom, #F26843 0%, #E74A35 100%);
    --basic-white: #fff;
    --basic-black: #323232;
    --basic-grey: #5A5A5A;
    --basic-neutral: #999;
    --basic-link: rgba(255, 255, 255, .2);
    --basic-article-link: #353535;
    --basic-nav-hover-link: #FBDED7;
    --basic-nav-active-link: #F6B5A5;
    --basic-main-nav-hover: #EDEDED;
    --basic-main-nav-active: #D07058;
    --basic-shadow: #696969;
    --basic-link-hover: #FFBC9E;
    --basic-button-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --basic-shadow-active: #942718;
}
.page-body { 
    min-width: 960px;
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: var(--basic-green);
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: var(--basic-white);
    background-image: url("../images/background/slider-one.png");
    background-position: top center;
    background-repeat: no-repeat;  
}

.container {
    width: 1146px;
    margin: 0 auto;
    border: 2px solid black;
}

.button {
    background-image: var(--basic-orange);
    color: var(--basic-white);
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    border-radius: 70px;
}
.button:hover,
.button:focus {
    box-shadow: 0px 2px 2px var(--basic-shadow) ;
    background-image: var(--basic-button-hover);
}
.button:active {
    box-shadow: 0px 2px 2px var(--basic-shadow-active);
}
/* -------main-navigation------*/


.main-navigation {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: var(--basic-white);
}
.site-navigation {
    list-style: none;
}


.site-navigation a {
    color: var(--basic-white);
    text-decoration: none;
    
}
.site-navigation-link:hover,
.site-navigation-link:focus {
    background-color: var(--basic-main-nav-hover);
    color: var(--basic-black); 
    font-size: 18px;
    font-weight: bold;
    border: 1px solid var(--basic-main-nav-hover);
    border-radius: 20px;
    padding: 2px;
}
.site-navigation-link:active {
 box-shadow: 0px 2px 1px var(--basic-shadow);
}
.site-navigation-inner a:hover,
.site-navigation-inner a:focus {
    background-color: var(--basic-nav-hover-link);
}
.site-navigation-inner a:active {
    background-color: var(--basic-nav-active-link);
}

/*---------user-navigation--------*/


.user-navigation a {
    color: var(--basic-white);
    text-decoration: none;
}

.time-work p {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}
.number-link {
    font-size: 22px;
    line-height: 18px;
    font-weight: bold;

}

/*----------special-offer-wrapper-
--------------------------------*/

.special-offer {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}
.special-offer h3 {
    font-size: 35px;
    line-height: 41px;
}
.special-offer-rasberries {
    background-image: url(../images/background/backgroud-raspberry.png);
    background-position: top left;
    background-repeat: no-repeat;
}
.special-offer-chocolate {
    background-image: url(../images/background/backgroud-chocolate.png);
    background-position: top left;
    background-repeat: no-repeat;
}

/*----------------big-seller------------
-------------------------------------*/


.big-seller-item {
    list-style: none;
}
.big-seller-link {
    border-bottom: 1px solid var(--basic-link);

}
.big-seller-item a {
    color: var(--basic-white);
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
}
.big-seller-item a:hover,
.big-seller-item a:focus,
.big-seller-item a:active {
    color: var(--basic-link-hover);
}
.big-seller-link:hover,
.big-seller-link:focus,
.big-seller-link:active {
    border-color: var(--basic-link-hover);
}

.price {
    font-size: 45px;
    line-height: 45px;
}


/*--------------features-----------------
----------------------------------------*/

.features {
    background-image: url(../images/background/background-wafer.png);
    color: var(--basic-black);
}
.features h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.features-list {
    list-style: none;
    font-weight: 400;
}

/*------------article*------------------
---------------------------------------*/


.article {
    background-color: var(--basic-white);
   background-image: url(../images/background/background-strawberry.jpg);
    background-position: center;
    background-repeat: no-repeat;

}


.article-link a {
    text-decoration: none;
    border-bottom: 1px solid var(--basic-article-link);
    color: var(--basic-black);
    font-weight: bold;
    line-height: 30px;
    font-size: 24px;
}


/*-------------------subscribe------------
----------------------------------------*/

.subscribe {
    background-image: url(../images/background/background-subscribe.png);
    background-position: top left;
    background-repeat: no-repeat;
    color: var(--basic-grey);
}

/*-----------------modal-------------------------
-----------------------------------------------*/

.modal {

}

/*----------------footer----------
---------------------------------*/

.footer {
    color: var(--basic-white);
}

.footer ul {
    list-style: none;
}


.social-list a,
.footer-info-list a,
.copyright-link a {
    text-decoration: none;
    color: var(--basic-white);
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    border-bottom: 1px solid var(--basic-link);
}

 .social-list a:hover,
 .social-list a:focus,
 .social-list a:active  {
    color: var(--basic-link-hover);
    border-color: var(--basic-link-hover);
 }
 .footer-info-list a:hover,
 .footer-info-list a:focus,
 .footer-info-list a:active {
    color: var(--basic-link-hover);
    border-color: var(--basic-link-hover);
 }
 .copyright-link a:hover,
 .copyright-link a:focus,
 .copyright-link a:active {
    color: var(--basic-link-hover);
    border-color: var(--basic-link-hover);
 }

.footer-copyright {
    font-size: 12px;
    line-height: 18px;
}