:root {
    --basic-orange: linear-gradient(to bottom, #F26843 0%, #E74A35 100%);
    --basic-white: #fff;
    --basic-black: #323232;
    --basic-grey: #5A5A5A;
    --basic-neutral: #999;
    --basic-link: rgba(255, 255, 255, .2);
    --basic-article-link: #353535;
    --basic-nav-hover-link: #FBDED7;
    --basic-nav-active-link: #F6B5A5;
    --basic-main-nav-hover: #EDEDED;
    --basic-main-nav-active: #D07058;
    --basic-button-shadow-hover: #AC1000;
    --basic-link-hover: #FFBC9E;
    --basic-button-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --basic-shadow-active: #942718;
    --basic-shadow-text-button: rgba(160, 32, 11, 0.76);
    --basic-box-shadow-button: rgba(172, 16, 0, 0.64);
    --basic-slider-1: #849D8F;
    --basic-slider-2: #8996A6;
    --basic-slider-3: #9D8B84;
    --basic-border-input: rgba(178, 178, 178, .52);
    --basic-border-input-focus: rgba(46, 136, 228, 0.52);
}
.site-wrapper { 
    min-width: 960px;
    font-family: 'Roboto', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
.page {
    height: 100%;
}

.container {
    width: 1146px;
    margin: 0 auto;
}
.button {
    display: inline-block;
    padding: 9px 23px;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: var(--basic-white);
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px var(--basic-shadow-text-button);
    background: var(--basic-orange);
    border-radius: 70px;
    box-shadow: 0 2px 2px var(--basic-box-shadow-button);
    border: none;
    cursor: pointer;
    letter-spacing: 0.05em;
  }
.button:hover,
.button:focus {
    box-shadow: 0px 2px 2px var(--basic-button-shadow-hover);
    background: var(--basic-button-hover);
}
.button:active {
    box-shadow: inset 0px 2px 2px var(--basic-shadow-active);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


/*------------------------------
---------------slider-----------*/
.slider {
    position: relative;
    margin-bottom: 41px;
    text-align: center;
}

.slider-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.slide {
    padding-top: 321px;
    display: none;
  }
  
  .slide-current {
    display: block;
  }

.slider-control {
    position: absolute;
    bottom: 22px;
    left: 0;
    display: flex;
    width: 63px;
    justify-content: space-between;
}
.slider-control button {
    padding: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid var(--basic-white);
    cursor: pointer;
    background-color: transparent;
  }
.slider-control button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}      
.slider-control .current {
    background: var(--basic-white);
}
.slide-wrapper-1 {
    background-color: var(--basic-slider-1);
    background-image: url(../images/background/slider-one.png); 
}
.slide-wrapper-2 {
    background-color: var(--basic-slider-2);
    background-image: url(../images/background/slider-two.png);
}
.slide-wrapper-3 {
    background-color: var(--basic-slider-3);
    background-image: url(../images/background/slider-three.png);
}


/* -------main-navigation------*/


.main-navigation-wrapper {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: var(--basic-white);
    margin-top: 10px;
}
.main-navigation-inner {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2px;
    padding-top: 23px;

}
.site-navigation,
.breadcrumbs  {
    list-style: none; 
    margin: 0;
    padding: 0;
}
.site-navigation {
    flex-grow: 1;
    display: flex;
}
.site-navigation li {
    margin-left: 32px;
    
}
.time-work-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}
.time-work p {
    text-align: end;
    margin-top: 0;
    margin-bottom: 8px;
}


.site-navigation-link {
    display: block;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 2px; 
    border-bottom: 1px solid var(--basic-link);
}
.site-navigation a {
    color: var(--basic-white);
    text-decoration: none; 
}
.site-navigation-link:hover,
.site-navigation-link:focus {
    background-color: var(--basic-white);
    color: var(--basic-black); 
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 26px;
    padding: 2px;
}
.site-navigation-link:active {
    background-color: var(--basic-main-nav-hover);
    box-shadow: 0px -2px 1px #696969;
}
.site-navigation li {
    position: relative;
}
.site-navigation-inner {
    position: absolute;
    top: 24px;
    left: 0;
    width: 143px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--basic-white);
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    z-index: 10;
    visibility: hidden;
}
.site-navigation-inner:nth-child(1) {
    font-weight: 700;
}

.site-navigation-inner a {
    color: var(--basic-black);
    display: block;
    padding-left: 21px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 7px;
}
.site-navigation-inner li:first-child {
    font-weight: 700;
    border-bottom: 1px solid black;
}
.site-navigation li:hover .site-navigation-inner {
    visibility: visible;
}

.site-navigation-inner  li {
    margin: 0;
}

.site-navigation-inner a:hover,
.site-navigation-inner a:focus {
    background-color: var(--basic-nav-hover-link);
}
.site-navigation-inner a:active {
    background-color: var(--basic-nav-active-link);
}


/*------------------------------------
---------------breadcrumbs------------*/
.breadcrumbs {
    order: 1;
    flex-grow: 1;
    display: flex;
    
    
}
.breadcrumbs a {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
    color: var(--basic-white);
    border-bottom: 1px solid var(--basic-link);
    margin-right: 22px;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: var(--basic-link-hover);
}



/*---------user-navigation--------*/

.user-navigation a {
    text-decoration: none;
}
.user-navigation-inner {
    display: flex;
}
.user-navigation {
    margin-left: 10px;
}
.user-navigation-inner a {
    color: var(--basic-white);
}
.basket p,
.search-form p,
.login-form p {
    margin: 0;  
}
.search-wrapper {
    position: relative;
}
.search-form {
    position: absolute;
    top: 35px;
    right: 0;
    background-color:  #F8F7F4;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    display: none;
}
.search-form form {
    padding: 20px 15px;
}
.search-form input[type="text"] {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding: 15px;
    border: 1px solid #D3D3D2;
    border-radius: 4px;
    width: 281px;
    box-sizing: border-box;
}
.search-form input[type=text]:hover {
    outline-style: medium;
     outline-color: var(--basic-border-input);
}
.search-form input[type=text]:focus {
     outline-color: var(--basic-border-input-focus);
}
.search-wrapper:hover .search-form {
    display: block;
}
.search-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--basic-link);
    background-color: var(--basic-link);
 
}

.login-wrapper {
    position: relative;
}

.login-form-wrapper {
    width: 277px;
}
.login-form {
    position: absolute;
    top: 39px;
    right: 0;
    background-color:  #F8F7F4;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    padding: 20px 17px 22px 19px;
    z-index: 10;
    display: none;
}
.login-wrapper:hover .login-form{
    display: block;
}
.login-form p {
    margin-bottom: 20px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  box-sizing: border-box;
  width: 241px;
  padding:15px;
}
.login-form .button {
    font-size: 18px;
    line-height: 16px;
    font-weight: bold;
    padding: 15px 26px 15px 25px;
    letter-spacing: normal;
}
.login-form input[type=email]:hover,
.login-form input[type=password]:hover {
    outline-style: medium;
    outline-color: var(--basic-border-input);
}
.login-form input[type=email]:focus,
.login-form input[type=password]:focus {
    outline-color: var(--basic-border-input-focus);
}

.login-form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-form a {
    display: block;
    color: var(--basic-black);
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    border-bottom: 1px solid rgba(50, 50, 50, 0.3);
    margin-bottom: 7px;
}

.login-form p:last-child {
    margin: 0;
}

.login-wrapper .login-link,
.basket-link  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid var(--basic-link);
    background-color: var(--basic-link);
}
.login-link:hover,
.search-link:hover {
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.login-link:hover path,
.search-link:hover path {
  fill: var(--basic-black);
}
.login-link svg,
.basket-link svg {
   padding-right: 8px;
}
.time-work p {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    
}
.number-link {
    font-size: 22px;
    line-height: 18px;
    font-weight: bold;
    color: var(--basic-white);
    text-decoration: none;

}



/*----------special-offer-wrapper-
--------------------------------*/
.special-offer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
}

.special-offer {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    
}
.special-offer-title {
    font-size: 35px;
    line-height: 41px;
    margin: 0;
    padding: 16px;
}
.special-offer-info{
    margin: 0;
    padding: 16px;
    padding-bottom: 112px;    
}
.special-offer-button {
    display: inline-block;
    margin: 16px;
}
.special-offer-rasberries {
    border-radius: 16px;
    width: 560px;
    background-image: url(../images/background/backgroud-raspberry.png);
    background-position: top left;
    background-repeat: no-repeat;
    position: relative;
 
}
.special-offer-chocolate {
    border-radius: 16px;
    width: 560px;
    background-image: url(../images/background/backgroud-chocolate.png);
    background-position: top left;
    background-repeat: no-repeat;
    position: relative;
}

.special-offer-button {
    margin: 0;
    padding: 15px 22px 16px;
    font-size: 18px;
    line-height: 24px;
    position: absolute;
    bottom: 22px;
    right: 22px;
    letter-spacing: normal;
}

/*----------------seller------------
-------------------------------------*/
.seller {
    margin: 40px 0;
}

.seller-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 26px;

}
.seller-link {
    border-bottom: 1px solid var(--basic-link);

}
.seller-item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.seller-item::before{
    content: '';
    width: 61px;
    height: 61px;
    position: absolute;
    background-image: url(../images/seller.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 1;
    
}
.seller-item p {
    margin: 0;
}
.seller-img {
    position: relative;

}
.price {
    font-size: 45px;
    line-height: 45px;
    position: absolute;
    bottom: 20px;
    left: 0;
}

.seller-item a {
    color: var(--basic-white);
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    order: 1;
    text-align: center;
}
.seller-link {
    color: var(--basic-white);
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.seller-item a:hover,
.seller-item a:focus,
.seller-item a:active {
    color: var(--basic-link-hover);
    
}
.seller-link:hover,
.seller-link:focus,
.seller-link:active {
    border-color: var(--basic-link-hover);
}

.seller-curret {
    position: absolute;
    left: -13px;
    top: -6px;
    width: 293px;
    height: 402px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    visibility: hidden;
}
.button-seller {
    position: absolute;
    left: 46px;
    bottom: 21px;
}
.seller-item:hover > div{
    visibility: visible;
}
.seller-link {
    position: relative;
    z-index: 5;
}

/*--------------features-----------------
----------------------------------------*/

.features {
    background-image: url(../images/background/background-wafer.png);
    background-position: center;
    background-repeat: no-repeat;
    color: var(--basic-black);
    border-radius: 16px;
    display: grid;
    grid-template-rows: min-content min-content;
    margin: 40px 0;
    height: 306px;
}
.features-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin: 24px 131px 21px 20px;
}

.features-list {
    list-style: none;
    font-weight: 400;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 11px;
    column-gap: 26px;
    margin-left: 20px;
    margin-right: 23px;
    margin-bottom: 36px;
  
}
.features-item {
    position: relative;
  
}
.features-item-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 49px;
    height: 49px;
    background-image: url(../images/icecream-icon.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 2;
}
.features-item-info {
    margin: 0;
    padding-left: 55px;
}
.icon-leaf::before {
    background-image: url(../images/leaf-icon.svg);
}
.icon-cow::before {
    background-image: url(../images/cow-icon.svg);
}

.icon-temperature::before {
    background-image: url(../images/temperature-icon.svg);
}

/*news-wrapper*/
.news-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}



/*------------article*------------------
---------------------------------------*/


.article {
    background-color: var(--basic-white);
   background-image: url(../images/background/background-strawberry.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    color: var(--basic-black);
    width: 560px;
}
.article-title {
    margin: 0;
    margin-top: 23px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.article-link{
    margin: 0;
    margin-left: 20px;
    margin-bottom: 70px;
    margin-right: 253px;
}
.article-title {
    margin-top: 23px;
}

.article-link a {
    text-decoration: none;
    border-bottom: 1px solid var(--basic-article-link);
    font-weight: bold;
    color: var(--basic-black);
    line-height: 30px;
    font-size: 24px;
}


/*-------------------subscribe------------
----------------------------------------*/

.subscribe {
    background-image: url(../images/background/background-subscribe.png);
    background-position: top left;
    background-repeat: no-repeat;
    color: var(--basic-grey);
    border-radius: 16px;
    height: 220px;
    width: 560px;
}
.subscribe-info {
    margin: 34px 22px  26px;
}
.subscribe-form {
    display: flex;
    justify-content: space-around;
    margin: 41px 26px 40px 26px;
   
}
.subscribe-item label {
    display: none;
}
.subscribe-form input[type=email] {
    width: 368px;
    padding: 15px 4px 14px 14px;
}
.subscribe-item {
    margin: 0;
}
.subscribe-submit {
    font-size: 16px;
    line-height: 24px;
    margin-left: 10px;    
    padding: 14px 19px 13px;
    letter-spacing: normal;
}

.subscribe-form input[type=email]:hover {
    outline-style: medium;
     outline-color: var(--basic-border-input);
}
.subscribe-form input[type=email]:focus {
     outline-color: var(--basic-border-input-focus);
}

/* ---------------------------------------------------
-----------------modal-feedback-----------------------*/

.modal {
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    
    
    
    
}
.modal-feedback {
    width: 428px;
    top: 338px;
    bottom: auto;
    padding: 0px;
    background-color: #F8F7F4;
    color: var(--basic-black);
    z-index: 10;
    padding-left: 24px;
    padding-right: 25px;
}
.modal-feedback-form {
    margin-bottom: 96px;   
}
.modal-feedback > p {
    margin: 0;
    margin-bottom: 26px;
    margin-top: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: medium;
}
.modal-feedback p {
    margin: 20px 0;
}
.button-modal-feedback {
    position: absolute;
    bottom: 27px;
    right: 25px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: normal;
    padding: 14px 24px 13px;
}
.modal-feedback-form input[type=email],
.modal-feedback-form input[type=text] {
    box-sizing: border-box;
    width: 267px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 14px;
    border: 1px solid var(--basic-border-input);
    border-radius: 4px;
}
.modal-feedback-form textarea {
    box-sizing: border-box;
    width: 428px;
    height: 154px;
    border: 1px solid var(--basic-border-input);
    resize: none;
    border-radius: 4px;
   
}
.modal-feedback-form textarea:hover,
.modal-feedback-form input[type=email]:hover,
.modal-feedback-form input[type=text]:hover {
     outline-color: var(--basic-border-input);
}
.modal-feedback-form textarea:focus,
.modal-feedback-form input[type=email]:focus,
.modal-feedback-form input[type=text]:focus {
     outline-color: var(--basic-border-input-focus);
}

.modal-close {
    padding: 0;
    position: absolute; 
    top: 12px;
    right: 16px;
    width: 18px;
    height: 17px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
}
.modal-close::before,
.modal-close::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 2px;
    width: 18px;
    height: 2px;
    background-color: #231F20;
}
.modal-close::after {
    transform: rotate(45deg);
}
.modal-close::before {
    transform: rotate(-45deg);
}

/*----------------footer----------
---------------------------------*/

.footer .container {
    color: var(--basic-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer ul {
    list-style: none;
}

.footer-social h2 {
    display: none;
}
.social-list {
    margin: 0;
    padding: 0;
    display: flex;
   
}
.social-item {
    margin-right: 12px;
}

.footer-info-list a,
.copyright-link a {
    text-decoration: none;
    color: var(--basic-white);
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    border-bottom: 1px solid var(--basic-link);
}
.social-button {
    display: flex;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

 .social-button:hover path,
 .social-button:focus path {
    fill-opacity: 1;
 }
 .social-button:active {
    border: 2px solid rgba(255, 255, 255, 0.7);
 }

 .footer-info {
     width: 327px;
     justify-self: center;
 }
 .footer-info h2 {
     display: none;
 }
 .footer-info-list {
     padding: 0;
     margin: 0;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
 }
 .footer-info-list a:hover,
 .footer-info-list a:focus,
 .footer-info-list a:active {
    color: var(--basic-link-hover);
    border-color: var(--basic-link-hover);
 }
 .copyright-link a:hover,
 .copyright-link a:focus,
 .copyright-link a:active {
    color: var(--basic-link-hover);
    border-color: var(--basic-link-hover);
 }

.footer-copyright {
    font-size: 12px;
    line-height: 18px;
    justify-self: end;
}




/* -------------------------------------
-------------page-catalog---------------*/
.inner-page {
    background-image: none;
    background-color: var(--basic-slider-1);
}
.page-title {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
    margin: 1px 0 29px;
}


/*------------------------------------------
---------------------filters-----------------*/
.filters {
    width: 869px;
    margin: 29px 0 40px;
}
.filters fieldset {
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 15px;
    background-color: var(--basic-link);
    border-radius: 20px;

}
.filters-form {
    width: 869px;
    display: flex; 
    flex-wrap: wrap; 
}

.filters legend {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    padding-bottom: 7px;
}
.filters label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}




/*---------------------------------------
-----------------pagination-list-------------*/

.pagination-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    margin: 80px 0 48px;
}
.pagination-item {
    margin-right: 20px;
}
.pagination-item a {
    text-decoration: none;
    color: var(--basic-white);
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}
.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    color: var(--basic-link-hover);
}

.pagination-item-stop a,
.pagination-item-stop a:hover,
.pagination-item-stop a:focus,
.pagination-item-stop a:active {
    color: var(--basic-link);
}
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

