:root {
    --basic-green: #849D8F;
    --basic-orange: linear-gradient(to bottom, #F26843 0%, #E74A35 100%);
    --basic-white: #fff;
    --basic-black: #323232;
    --basic-grey: #5A5A5A;
    --basic-neutral: #999;
    --basic-link: rgba(255, 255, 255, .2);
    --basic-article-link: #353535;
    --basic-nav-hover-link: #FBDED7;
    --basic-nav-active-link: #F6B5A5;
    --basic-main-nav-hover: #EDEDED;
    --basic-main-nav-active: #D07058;
    --basic-shadow: #696969;
    --basic-link-hover: #FFBC9E;
    --basic-button-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
    --basic-shadow-active: #942718;
}
.page-body { 
    min-width: 960px;
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: var(--basic-green);
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: var(--basic-white);
    background-image: url("../images/background/slider-one.png");
    background-position: top center;
    background-repeat: no-repeat;  

    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
.page {
    height: 100%;
}

.container {
    width: 1146px;
    margin: 0 auto;
}

.button {
    background-image: var(--basic-orange);
    color: var(--basic-white);
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    border-radius: 70px;
}
.button:hover,
.button:focus {
    box-shadow: 0px 2px 2px var(--basic-shadow) ;
    background-image: var(--basic-button-hover);
}
.button:active {
    box-shadow: 0px 2px 2px var(--basic-shadow-active);
}
/* -------main-navigation------*/


.main-navigation {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: var(--basic-white);
    outline: 1px solid #942718;
    display: grid;
    grid-template-columns: min-content 1fr 260px;

}
.site-navigation-wrapper {
    outline: 1px solid #1518a7;
}
.main-header-logo {
    outline: 1px solid #0caf79;
}
.site-navigation,
.breadcrumbs  {
    list-style: none; 
}
.site-navigation-link {
    border-bottom: 1px solid var(--basic-link);
}
.site-navigation a {
    color: var(--basic-white);
    text-decoration: none; 
}
.site-navigation-link:hover,
.site-navigation-link:focus {
    background-color: var(--basic-main-nav-hover);
    color: var(--basic-black); 
    font-size: 18px;
    font-weight: bold;
    border: 1px solid var(--basic-main-nav-hover);
    border-radius: 20px;
    padding: 2px;
}
.site-navigation-link:active {
 box-shadow: 0px 2px 1px var(--basic-shadow);
}
.site-navigation-inner a:hover,
.site-navigation-inner a:focus {
    background-color: var(--basic-nav-hover-link);
}
.site-navigation-inner a:active {
    background-color: var(--basic-nav-active-link);
}


/*------------------------------------
---------------breadcrumbs------------*/

.breadcrumbs a {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
    color: var(--basic-white);
    border-bottom: 1px solid var(--basic-link);
}
.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
    color: var(--basic-link-hover);
}



/*---------user-navigation--------*/

.user-navigation {
    outline: 3px solid #81ec07;
}
.time-work {
    outline: 3px solid #000000;
}
.user-navigation a {
    color: var(--basic-white);
    text-decoration: none;
}

.time-work p {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}
.number-link {
    font-size: 22px;
    line-height: 18px;
    font-weight: bold;

}

/*----------special-offer-wrapper-
--------------------------------*/
.special-offer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
}
.special-offer-wrapper h2 {
    display: none;
}
.special-offer {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}
.special-offer h3 {
    font-size: 35px;
    line-height: 41px;
}
.special-offer-rasberries {
    border-radius: 16px;
    width: 560px;
    background-image: url(../images/background/backgroud-raspberry.png);
    background-position: top left;
    background-repeat: no-repeat;
}
.special-offer-chocolate {
    border-radius: 16px;
    width: 560px;
    background-image: url(../images/background/backgroud-chocolate.png);
    background-position: top left;
    background-repeat: no-repeat;
}


/*----------------seller------------
-------------------------------------*/
.seller {
    margin: 40px 0;
}
.seller h2 {
    display: none;
}

.seller-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 26px;

}
.seller-link {
    border-bottom: 1px solid var(--basic-link);

}
.seller-item a {
    color: var(--basic-white);
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
}
.seller-item a:hover,
.seller-item a:focus,
.seller-item a:active {
    color: var(--basic-link-hover);
    
}
.seller-link:hover,
.seller-link:focus,
.seller-link:active {
    border-color: var(--basic-link-hover);
}


.price {
    font-size: 45px;
    line-height: 45px;
}

/*--------------features-----------------
----------------------------------------*/

.features {
    background-image: url(../images/background/background-wafer.png);
    background-position: center;
    background-repeat: no-repeat;
    color: var(--basic-black);
    border-radius: 16px;
    display: grid;
    grid-template-rows: 1fr min-content;
    margin: 40px 0;
}
.features h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
}

.features-list {
    list-style: none;
    font-weight: 400;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  
}

/*news-wrapper*/
.news-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 39px;
    margin: 40px 0;
}

/*------------article*------------------
---------------------------------------*/


.article {
    background-color: var(--basic-white);
   background-image: url(../images/background/background-strawberry.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    color: var(--basic-black);
}
.article h2 {
    display: none;
}

.article-link a {
    text-decoration: none;
    border-bottom: 1px solid var(--basic-article-link);
    font-weight: bold;
    color: var(--basic-black);
    line-height: 30px;
    font-size: 24px;
}


/*-------------------subscribe------------
----------------------------------------*/

.subscribe {
    background-image: url(../images/background/background-subscribe.png);
    background-position: top left;
    background-repeat: no-repeat;
    color: var(--basic-grey);
    border-radius: 16px;
}

/*-----------------modal-------------------------
-----------------------------------------------*/

.modal {

}


/*----------------footer----------
---------------------------------*/

.footer {
    color: var(--basic-white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 18px 0 25px;
}

.footer ul {
    list-style: none;
}

.footer-social h2 {
    display: none;
}
.social-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.social-list a,
.footer-info-list a,
.copyright-link a {
    text-decoration: none;
    color: var(--basic-white);
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    border-bottom: 1px solid var(--basic-link);
}

 .social-list a:hover,
 .social-list a:focus,
 .social-list a:active  {
    color: var(--basic-link-hover);
    border-color: var(--basic-link-hover);
 }
 .footer-info {
     width: 327px;
     justify-self: center;
 }
 .footer-info h2 {
     display: none;
 }
 .footer-info-list {
     padding: 0;
     margin: 0;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
 }
 .footer-info-list a:hover,
 .footer-info-list a:focus,
 .footer-info-list a:active {
    color: var(--basic-link-hover);
    border-color: var(--basic-link-hover);
 }
 .copyright-link a:hover,
 .copyright-link a:focus,
 .copyright-link a:active {
    color: var(--basic-link-hover);
    border-color: var(--basic-link-hover);
 }

.footer-copyright {
    font-size: 12px;
    line-height: 18px;
    justify-self: end;
}




/* -------------------------------------
-------------page-catalog---------------*/
.inner-page {
    background-image: none;
}
.page-title {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}

.filters legend {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}
.filters label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

/*---------------------------------------
-----------------pagination-list-------------*/

.pagination-list {
    list-style-type: none;
}

.pagination-item a {
    text-decoration: none;
    color: var(--basic-white);
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}
.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    color: var(--basic-link-hover);
}

.pagination-item-stop a,
.pagination-item-stop a:hover,
.pagination-item-stop a:focus,
.pagination-item-stop a:active {
    color: var(--basic-link);
}
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: var(--basic-black);
    background-color: var(--basic-white);
}